{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/drinks.css' %}">
  </head>
<body>
<h1>Add ingredient</h1>
</br>
</br>
<form method="post" action="{% url "add_ingredient" %}">
{% csrf_token %}
<table>
{{IngredientForm}}
</table>
</br>
<input type="submit" value="Add ingredient"/>
</form>
</body>
</html>