{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/drinks.css' %}">
  </head>
  <body>


    <div id=logo>
      <h1>Drink Drank Drunk</h2>
    </div>
    <div id=searchfield>
      <h1>Jakie masz skladniki?</h1>

      <form action="{% url 'search_results' %}" method="get" autocomplete="off">
        <input name="q" type="text" placeholder="Search...">
      </form>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div>
      <img src= "media/drink.jpg" />
    </div>
   </body>
</html>
