h1 a, h2 a {
    color: #DE1FAE;
}
body {
    padding-left: 15px;
}

#Container
{


}
#searchfield
{
  margin-left: 10px;
  text-align: center;
  padding:30px;
  background-color: white;
}
#logo
{
  text-align: center;
  color: white;
  background-color: #white;
  text-align: center;

}
#login
{
  text-align: right;
  background-color: #C0C0C0;
}
#menu
{
    background-color: white;
}
ul > li
{
    list-style-type: none;
    float: left;
}

ul > li > a
{
    padding: 0 20px;
}
